
<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">##NOMBRE@@</h3>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center"><img src="##IMAGEN@@" class="img-responsive"></div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5">Descripción:</h4>
                    <p>##DESCRIPCION@@</p>
                    <h2 class="mt-5">
                        ##PRECIO@@€ <small class="text-success">(36%off)</small>
                    </h2>
                    <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title="" data-original-title="Add to cart">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                    <a href="index.php?contenido=editarproducto&id=##ID@@>" class="btn btn-primary btn-rounded">Editar</a>
                </div>
            </div>
        </div>
    </div>
</div>